.disciplines-create {

	.add-discipline {
		padding-top: 1rem;
		text-align: center;
		color: #333;
		font-weight: bold;
	}

	.errors {
		margin-top: .25rem;
		font-size: .875em;
		color: #dc3545;
	}
}